<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Portal CES-26</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/semana1">Semana 1</a></li>
            <li><a href="/semana2">Semana 2</a></li>
            <li><a href="/semana3">Semana 3</a></li>
            <li><a href="/semana4">Semana 4</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> About</a></li>
        </ul>
    </div>
</nav>