<!DOCTYPE html>
<html>

<head>
    <title>About Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="About">
    <!-- Imports e barra de navegação -->
    <link rel="import" href="/components/depend.html">
    <link href='/dark-default.css' rel='stylesheet' type='text/css'>
    <script src="/public/js/snowstorm-min.js"></script>
    <script src="/public/js/jquery.videoBG.js"></script>
    <div id="navbar"></div>
</head>

<body style="background: transparent;">
    <script>
        $('body').videoBG({
            position: "fixed",
            zIndex: 0,
            mp4: '/assets/snow.mp4',
            webm: '/assets/snow.mp4',
            opacity: 1.0,
            fullscreen: true,
        });
    </script> <br> <br> <br> <br>
    <h2>Developed by Felipe Tuyama & João Vitor (Ipatinga)</h2>
    <p>Crono application is our final project for CES-26 course.</p>
    <hr style="opacity: 0.1">
    <div class="container-fluid" align="center">
        <ul>
            <h3>Welcome!</h3>
            <p>We hope you enjoyed your stay with us.</p>
        </ul>
    </div>
</body>
<div id="footer"></div>

</html>