<!doctype html>
<html lang="en" ng-app="calendarApp">

<head>
    <title>Calendar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Calendar">
    <!-- Imports e barra de navegação -->
    <script src="public/html/webcomponents.js"></script>
    <link rel="import" href="/components/depend-calendar.html">
    <!-- Personal Css and Js -->
    <link href='/light-default.css' rel='stylesheet' type='text/css'>
    <link href='/light-calendar.css' rel='stylesheet' type='text/css'>
    <!-- Include do Controller -->
    <script src="/contrl/calendarVC.js"></script>
    <!-- Include Speech Js -->
    <script src="/public/js/annyang.min.js"></script>
    <script src="/public/js/speechkitt.min.js"></script>
    <script src="/script/calendarVoice.js"></script>
    <script src="/script/speech.js"></script>
    <div id="navbar"></div>
</head>

<body id="calendarVC" ng-controller="calendarVC">
    <br>
    <br>
    <br>
    <br>
    <div id="loader-wrapper" ng-show="loader">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!-- Lista de grupos de calendário -->
    <div class="row no-gutter">
        <div class="col-sm-2">
            <div class="thumbnail">
                <p style="display: inline;">Group List:</p>
                <hr>
                <div ng-repeat="group in groups">
                    <div class="col-sm-10 spec">
                        {{group.summary}}
                    </div>
                    <div>
                        <label class="switch" style="float:right;">
                        <input ng-model="group.checked" ng-change="requestFetch()" type="checkbox"/>
                        <div class="slider round"></div>
                        </label>
                    </div>
                </div>
            </div>

            <!-- Botões diversos do site  -->
            <div align="center">
                <form action="calendar/list-events">
                    <button type="submit" class="btn btn-success btn-block">See events</button>
                </form><br>
                <form action="calendarAuth/">
                    <button type="submit" class="btn btn-danger btn-block">Login Google</button>
                </form><br>
            </div>
        </div>

        <!-- Calendário estático inicial  -->
        <div class="col-sm-10 calendar-content" style="text-align: center;">
            <input type="text" id="monthPicker" class="datepicker-here monthPicker" data-language="pt" data-min-view="months" data-view="months" data-date-format="MM yyyy">
            <div id="motherTable">
                <TABLE class="table table-bordered">
                    <TR>
                        <TD COLSPAN="7 ">
                            <B>Calendar</B>
                        </TD>
                    </TR>
                    <TR>
                        <TD>Sun</TD>
                        <TD>Mon</TD>
                        <TD>Tue</TD>
                        <TD>Wed</TD>
                        <TD>Thu</TD>
                        <TD>Fri</TD>
                        <TD>Sat</TD>
                    </TR>
                    <TR>
                        <TD class="day"></TD>
                        <TD class="day"></TD>
                        <TD class="day"></TD>
                        <TD class="day"></TD>
                        <TD class="day"></TD>
                        <TD class="day"></TD>
                        <TD class="day">1</TD>
                    </TR>
                    <TR>
                        <TD class="day">2</TD>
                        <TD class="day">3</TD>
                        <TD class="day">4</TD>
                        <TD class="day">5</TD>
                        <TD class="day">6</TD>
                        <TD class="day">7</TD>
                        <TD class="day">8</TD>
                    </TR>
                    <TR>
                        <TD class="day">9</TD>
                        <TD class="day">10</TD>
                        <TD class="day">11</TD>
                        <TD class="day">12</TD>
                        <TD class="day">13</TD>
                        <TD class="day">14</TD>
                        <TD class="day">15</TD>
                    </TR>
                    <TR>
                        <TD class="day">16</TD>
                        <TD class="day">17</TD>
                        <TD class="day">18</TD>
                        <TD class="day">19</TD>
                        <TD class="day">20</TD>
                        <TD class="day">21</TD>
                        <TD class="day">22</TD>
                    </TR>
                    <TR>
                        <TD class="day">23</TD>
                        <TD class="day">24</TD>
                        <TD class="day">25</TD>
                        <TD class="day">26</TD>
                        <TD class="day">27</TD>
                        <TD class="day">28</TD>
                        <TD class="day">29</TD>
                    </TR>
                    <TR>
                        <TD class="day">30</TD>
                        <TD class="day">31</TD>
                        <TD class="day"></TD>
                        <TD class="day"></TD>
                        <TD class="day"></TD>
                        <TD class="day"></TD>
                        <TD class="day"></TD>
                    </TR>
                </TABLE>
            </div>
        </div>
    </div>

    <!-- Mensagens snackbar  -->
    <div id="snackbar"></div>

    <!-- Modal com o form dos Eventos  -->
    <div id="formModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" ng-show="create">Create Event</h4>
                    <h4 class="modal-title" ng-show="edit">Edit Event</h4>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <div class="form-item">
                        <div class="form-item-content">
                            <label class="control-label col-sm-2" for="text">Name:</label>
                            <div class="col-sm-8">
                                <input id="summary_form" type="text" class="form-control  input-sm" ng-model="event_form.summary" />
                            </div>
                            <div class="col-sm-2">
                                <button id="start_button" class="mic-btn" onclick='startButton(event, "summary_form" ,"start_img1")'>
                                <img id="start_img1" class="mic-img" src="/speech/mic.gif" alt="Start"></button>
                            </div>
                        </div>
                    </div>
                    <div class="form-item">
                        <div class="form-item-content">
                            <label class="control-label col-sm-2" for="text">Description:</label>
                            <div class="col-sm-8">
                                <input id="description_form" type="text" class="form-control input-sm" ng-model="event_form.description" />
                            </div>
                            <div class="col-sm-2">
                                <button id="start_button" class="mic-btn" onclick='startButton(event, "description_form" ,"start_img2")'>
                                <img id="start_img2" class="mic-img" src="/speech/mic.gif" alt="Start"></button>
                            </div>
                        </div>
                    </div>
                    <div class="form-item">
                        <div class="form-item-content">
                            <label class="control-label col-sm-2" for="text">Start:</label>
                            <div class="col-sm-5">
                                <input type='text' id="startDate" class="form-control input-sm datepickera" data-language='pt' ng-model="event_form.startDate" />
                            </div>
                            <label class="control-label col-sm-1" for="text">at:</label>
                            <div class="col-sm-4">
                                <input type='text' id="startHour" class="form-control input-sm hourpickera" ng-model="event_form.startHour" />
                            </div>
                        </div>
                    </div>
                    <div class="form-item">
                        <div class="form-item-content">
                            <label class="control-label col-sm-2" for="text">End:</label>
                            <div class="col-sm-5">
                                <input type='text' id="endDate" class="form-control input-sm datepickera" data-language='pt' ng-model="event_form.endDate" />
                            </div>
                            <label class="control-label col-sm-1" for="text">at:</label>
                            <div class="col-sm-4">
                                <input type='text' id="endHour" class="form-control input-sm hourpickera" ng-model="event_form.endHour" />
                            </div>
                        </div>
                    </div>
                    <div class="form-item">
                        <div class="form-item-content">
                            <label class="control-label col-sm-2" for="text">Group:</label>
                            <div class="col-sm-10">
                                <span class="input-group-addon" style="width:0px; padding:0px; border:none;"></span>
                                <select class="form-control" ng-model="event_form.group_id">
                                    <option ng-repeat="group in groups" value={{$index}} ng-model="event_form.group_id">{{group.summary}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <script>
                        $('.datepicker-here').datepicker({
                            autoClose: true,
                            language: 'pt',
                            onSelect: function() {
                                angular.element($('#calendarVC')).scope().select_month();
                            }
                        });

                        $('.datepickera').datepicker({
                            autoClose: true,
                            language: 'pt',
                            todayButton: true
                        });

                        $('#startHour').timeAutocomplete();
                        $('#endHour').timeAutocomplete();
                    </script>
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button class="btn btn-success" ng-click="postCreateEvent()" ng-show="create">Create Event</button>
                    <button class="btn btn-success" ng-click="postEditEvent()" ng-show="edit">Save Event</button>
                    <button class="btn btn-danger" ng-click="postDeleteEvent()" ng-show="edit">Delete</button>
                    <button class="btn btn-warning" ng-click="closeModal()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>