<!doctype html>
<html ng-app="calendarApp">

<head>
    <!-- Imports e barra de navegação -->
    <link rel="import" href="/components/depend.html">
    <link href='/estilo.css' rel='stylesheet' type='text/css'>
    <link href='/calendar.css' rel='stylesheet' type='text/css'>
    <script src="/contrl/calendarVC.js"></script>
    <script src="/script/speech.js"></script>
    <div id="navbar"></div>
</head>

<body ng-controller="calendarVC">
    <br>
    <br>
    <hr>
    <!-- Lista de grupos de calendário -->
    <div class="row no-gutter">
        <div class="col-sm-2">
            <div class="thumbnail">
                <p style="display: inline;">Group List:</p>
                <hr>
                <div ng-repeat="group in groups">
                    <div class="col-sm-10 spec">
                        {{group.summary}}
                    </div>
                    <div>
                        <label class="switch" style="float:right;">
                        <input ng-model="group.checked" ng-change="fetch()" type="checkbox"/>
                        <div class="slider round"></div>
                        </label>
                    </div>
                </div>
            </div>

            <!-- Botões diversos do site  -->
            <div align="center">
                <form action="calendar/list0">
                    <button type="submit" class="btn btn-success btn-block">Ver eventos</button>
                </form><br>
                <form action="calendar/groups">
                    <button type="submit" class="btn btn-warning btn-block">Ver grupos</button>
                </form><br>
                <form action="calendarAuth/">
                    <button type="submit" class="btn btn-danger btn-block">Login Google</button>
                </form><br>
            </div>
        </div>

        <!-- Calendário estático inicial  -->
        <div class="col-sm-10">
            <div id="motherTable">
                <TABLE class="table table-bordered">
                    <TR>
                        <TD COLSPAN="7 ">
                            <B>Calendar</B>
                        </TD>
                    </TR>
                    <TR>
                        <TD>Sun</TD>
                        <TD>Mon</TD>
                        <TD>Tue</TD>
                        <TD>Wed</TD>
                        <TD>Thu</TD>
                        <TD>Fri</TD>
                        <TD>Sat</TD>
                    </TR>
                    <TR>
                        <TD class="day"></TD>
                        <TD class="day"></TD>
                        <TD class="day"></TD>
                        <TD class="day"></TD>
                        <TD class="day"></TD>
                        <TD class="day"></TD>
                        <TD class="day">1</TD>
                    </TR>
                    <TR>
                        <TD class="day">2</TD>
                        <TD class="day">3</TD>
                        <TD class="day">4</TD>
                        <TD class="day">5</TD>
                        <TD class="day">6</TD>
                        <TD class="day">7</TD>
                        <TD class="day">8</TD>
                    </TR>
                    <TR>
                        <TD class="day">9</TD>
                        <TD class="day">10</TD>
                        <TD class="day">11</TD>
                        <TD class="day">12</TD>
                        <TD class="day">13</TD>
                        <TD class="day">14</TD>
                        <TD class="day">15</TD>
                    </TR>
                    <TR>
                        <TD class="day">16</TD>
                        <TD class="day">17</TD>
                        <TD class="day">18</TD>
                        <TD class="day">19</TD>
                        <TD class="day">20</TD>
                        <TD class="day">21</TD>
                        <TD class="day">22</TD>
                    </TR>
                    <TR>
                        <TD class="day">23</TD>
                        <TD class="day">24</TD>
                        <TD class="day">25</TD>
                        <TD class="day">26</TD>
                        <TD class="day">27</TD>
                        <TD class="day">28</TD>
                        <TD class="day">29</TD>
                    </TR>
                    <TR>
                        <TD class="day">30</TD>
                        <TD class="day">31</TD>
                        <TD class="day"></TD>
                        <TD class="day"></TD>
                        <TD class="day"></TD>
                        <TD class="day"></TD>
                        <TD class="day"></TD>
                    </TR>
                </TABLE>
            </div>
        </div>
    </div>

    <!-- Template para o popover aberto  -->
    <p>Grupo de Eventos: {{user}}</p>
    <div id="snackbar"></div>

    <!-- Modal com o form dos Eventos  -->
    <div id="formModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" ng-show="create">Criar Evento</h4>
                    <h4 class="modal-title" ng-show="edit">Editar Evento</h4>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <div class="form-item">
                        <div class="form-item-content">
                            <label class="control-label col-sm-2" for="text">Nome:</label>
                            <div class="col-sm-8">
                                <input id="summary_form" type="text" class="form-control  input-sm" ng-model="event_form.summary" />
                            </div>
                            <div class="col-sm-2">
                                <button id="start_button" class="mic-btn" onclick='startButton(event, "summary_form" ,"start_img1")'>
                                <img id="start_img1" class="mic-img" src="speech/mic.gif" alt="Start"></button>
                            </div>
                        </div>
                    </div>
                    <div class="form-item">
                        <div class="form-item-content">
                            <label class="control-label col-sm-2" for="text">Descrição:</label>
                            <div class="col-sm-8">
                                <input id="description_form" type="text" class="form-control input-sm" ng-model="event_form.description" />
                            </div>
                            <div class="col-sm-2">
                                <button id="start_button" class="mic-btn" onclick='startButton(event, "description_form" ,"start_img2")'>
                                <img id="start_img2" class="mic-img" src="speech/mic.gif" alt="Start"></button>
                            </div>
                        </div>
                    </div>
                    <div class="form-item">
                        <div class="form-item-content">
                            <label class="control-label col-sm-2" for="text">Início:</label>
                            <div class="col-sm-10">
                                <input type='text' class="form-control input-sm datepickera" data-language='pt' ng-model="event_form.start" />
                            </div>
                        </div>
                    </div>
                    <div class="form-item">
                        <div class="form-item-content">
                            <label class="control-label col-sm-2" for="text">Fim:</label>
                            <div class="col-sm-10">
                                <input type='text' class="form-control input-sm datepickera" data-language='pt' ng-model="event_form.end" />
                            </div>
                        </div>
                    </div>
                    <script>
                        $('.datepickera').datepicker({
                            autoClose: true,
                            language: 'pt',
                            todayButton: true
                        });
                    </script>
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button class="btn btn-success" ng-click="postCreateEvent()" ng-show="create">Criar Evento</button>
                    <button class="btn btn-success" ng-click="postEditEvent()" ng-show="edit">Salvar Evento</button>
                    <button class="btn btn-danger" ng-click="postDeleteEvent()" ng-show="edit">Deletar</button>
                    <button class="btn btn-warning" ng-click="closeModal()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>