<!doctype html>
<html lang="en" ng-app="calendarEventsApp">

<head>
    <title>Calendar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Calendar-Events">
    <!-- ############################################################################ -->
    <!--                       Imports e barra de navegação                           -->
    <!-- ############################################################################ -->
    <link rel="icon" href="/public/img/favicon.ico">

    <link rel="apple-touch-icon" href="/public/img/apple-touch-icon.png">
    <!-- Include Extra Css -->
    <link rel="stylesheet" href="/public/css/style2.css">
    <!-- Include Beautiful Font -->
    <link rel='stylesheet' href='/public/css/titillium.css'>
    <!-- Include Bootstrap Css -->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <!-- Include Bootstrap Min Css -->
    <link rel="stylesheet" href="/public/css/bootstrap-theme.min.css">
    <!-- Include Animate Min Css -->
    <link rel="stylesheet" href="/public/css/animate.min.css">
    <!-- Include Fontawesome Min Css -->
    <link rel="stylesheet" href="/public/css/font-awesome.min.css">
    <!-- Include Magnific PopUp Css -->
    <link rel="stylesheet" href="/public/css/magnific-popup.css">
    <!-- bxSlider CSS file -->
    <link rel="stylesheet" href="/public/css/jquery.bxslider.css" />
    <!-- Include Style Css -->
    <link rel="stylesheet" href="/public/css/style.css">
    <!-- Include Responsive Css -->
    <link rel="stylesheet" href="/public/css/responsive.min.css">
    <!-- Include Shiny Icon Css -->
    <link rel="stylesheet" href="/public/css/shiny-icon.css">
    <!-- Include Switch Css -->
    <link rel="stylesheet" href="/public/css/switch.css">
    <!-- Include Modernizer Js -->
    <script src="/public/js/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <!-- Include Jquery Js -->
    <script src="/public/js/jquery-2.1.4.min.js"></script>
    <script src="/public/js/jquery-ui-1.10.2.custom.min.js"></script>
    <link rel="stylesheet" href="/public/css/jquery-ui-1.10.2.custom.min.css">
    <!-- Include Angular Js -->
    <script src="/public/js/angular.min.js"></script>
    <!-- Include Angular Cookies Js -->
    <script src="/public/js/angular-cookies.js"></script>
    <!-- Include Bootstrap Js -->
    <script src="/public/js/bootstrap.min.js"></script>
    <!-- Include Initialization script Js -->
    <script src="/components/components.js"></script>
    <script src="/script/global.js"></script>
    <script src="/script/theme.js"></script>
    <!-- Include Loader Css Js -->
    <link href='/public/css/loader.css' rel='stylesheet' type='text/css'>
    <!-- Include Datepicker Css Js -->
    <link href='/public/css/datepicker.min.css' rel='stylesheet' type='text/css'>
    <script src="/public/js/datepicker.min.js"></script>
    <script src="/public/js/datepicker.pt.js"></script>
    <!-- Include Hourpicker Js -->
    <script src="/public/js/timeAutocomplete.js"></script>
    <script src="/public/js/formatters/24hr.js"></script>
    <script src="/public/js/formatters/ampm.js"></script>
    <script src="/public/js/formatters/french.js"></script>
    <!-- ############################################################################ -->
    <!--                       Imports e barra de navegação                           -->
    <!-- ############################################################################ -->
    <!-- Personal Css and Js -->
    <link href='/light-default.css' rel='stylesheet' type='text/css'>
    <link href='/light-calendar.css' rel='stylesheet' type='text/css'>
    <!-- Include do Controller -->
    <script src="/contrl/calendar-eventsVC.js"></script>
    <div id="navbar"></div>
</head>

<body id="calendarEventsVC" ng-controller="calendarEventsVC">
    <br>
    <br>
    <br>
    <br>
    <!-- Loader animation -->
    <div id="loader-wrapper" ng-show="loader">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!-- ############################################################################ -->
    <!--                       Menu superior da lista                                 -->
    <!-- ############################################################################ -->
    <div class="row no-gutter">
        <!-- Lista de grupos de calendário -->
        <div class="thumbnail col-sm-8">
            <p style="display: inline;">Group List:</p>
            <hr>
            <div ng-repeat="group in groups">
                <div class="col-sm-10 spec">
                    {{group.summary}}
                </div>
                <div>
                    <label class="switch" style="float:right;">
                        <input ng-model="group.checked" ng-change="fetch()" type="checkbox"/>
                        <div class="slider round"></div>
                        </label>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <!-- Botões diversos do site  -->
            <div align="center">
                <form action="/../calendar">
                    <button type="submit" class="btn btn-success btn-block">See calendar</button>
                </form><br>
                <form action="/../calendarAuth">
                    <button type="submit" class="btn btn-danger btn-block">Login Google</button>
                </form><br>
            </div>
        </div>
    </div>
    <hr>
    <!-- ############################################################################ -->
    <!--                       Lista principal de eventos                             -->
    <!-- ############################################################################ -->
    <div id="list" ng-repeat="eventGroup in events" class="container">
        <ul class="list-group">
            <h3 style="display:inline-block;">Group:<a> {{groups[$index].summary}}</a></h3>
            <label class="switch">
                        <input ng-model="groups[$index].checked" ng-change="fetch()" type="checkbox"/>
                        <div class="slider round"></div>
                </label>
            <div ng-repeat="(month, eventMonth) in eventGroup">
                <div>Mês: {{ month }}</div>
                <div ng-repeat="event in eventMonth | orderBy:'start':false:startComparator">
                    <li class="list-group-item" style="display: inline;">
                        <div class="row row-no-padding">
                            <div class="col-sm-6">
                                <button class="btn btn-default btn-block" ng-click="select(event)">{{event.summary}}</button>
                            </div>
                            <div class="col-sm-3">
                                <button class="btn btn-info btn-block">
                                {{(event.start.date != undefined)? event.start.date : event.start.dateTime | date: 'dd/MM/yyyy HH:mm'}}
                                </button>
                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-danger btn-block" ng-click="deleteEvent(event, $parent.$index)">Delete</button>
                            </div>
                        </div>
                    </li>
                </div>
            </div>
        </ul>
    </div>
    <!-- ############################################################################ -->
    <!--                       Modal com form dos eventos                             -->
    <!-- ############################################################################ -->
    <div id="descriptionModal" class="modal fade" role="dialog">
        <div class="modal-dialog" style="width: 800px;  margin-left: -412px;">

            <!-- Modal content-->
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Event Debugger</h4>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <pre class="console">{{selected | json}}</pre>
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button class="btn btn-danger" ng-click="closeModal()">Exit</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Mensagens snackbar  -->
    <div id="snackbar"></div>
</body>

</html>