<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<!--<![endif]-->
<html class="no-js" lang="en-US" ng-app="indexApp" id="indexVC" ng-controller="indexVC">

<head>
    <title>Crono Calendar</title>
    <meta name="google-site-verification" content="Fbh5mkhR9laZ0CtMUrYc1wzVjI9qOIRjAXzIXrQv8Yg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Crono">
    <!-- ############################################################################ -->
    <!--                       Imports e barra de navegação                           -->
    <!-- ############################################################################ -->
    <link rel="icon" href="/public/img/favicon.ico">

    <link rel="apple-touch-icon" href="/public/img/apple-touch-icon.png">
    <!-- Include Extra Css -->
    <link rel="stylesheet" href="/public/css/style2.css">
    <!-- Include Beautiful Font -->
    <link rel='stylesheet' href='/public/css/titillium.css'>
    <!-- Include Bootstrap Css -->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <!-- Include Bootstrap Min Css -->
    <link rel="stylesheet" href="/public/css/bootstrap-theme.min.css">
    <!-- Include Animate Min Css -->
    <link rel="stylesheet" href="/public/css/animate.min.css">
    <!-- Include Fontawesome Min Css -->
    <link rel="stylesheet" href="/public/css/font-awesome.min.css">
    <!-- Include Magnific PopUp Css -->
    <link rel="stylesheet" href="/public/css/magnific-popup.css">
    <!-- bxSlider CSS file -->
    <link rel="stylesheet" href="/public/css/jquery.bxslider.css" />
    <!-- Include Style Css -->
    <link rel="stylesheet" href="/public/css/style.css">
    <!-- Include Responsive Css -->
    <link rel="stylesheet" href="/public/css/responsive.min.css">
    <!-- Include Shiny Icon Css -->
    <link rel="stylesheet" href="/public/css/shiny-icon.css">
    <!-- Include Switch Css -->
    <link rel="stylesheet" href="/public/css/switch.css">
    <!-- Include Modernizer Js -->
    <script src="/public/js/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <!-- Include Jquery Js -->
    <script src="/public/js/jquery-2.1.4.min.js"></script>
    <script src="/public/js/jquery-ui-1.10.2.custom.min.js"></script>
    <!-- Include Angular Js -->
    <script src="/public/js/angular.min.js"></script>
    <!-- Include Angular Cookies Js -->
    <script src="/public/js/angular-cookies.js"></script>
    <!-- Include Bootstrap Js -->
    <script src="/public/js/bootstrap.min.js"></script>
    <!-- Include Initialization script Js -->
    <script src="/components/components.js"></script>
    <script src="/script/global.js"></script>
    <script src="/script/theme.js"></script>
    <!-- ############################################################################ -->
    <!--                       Imports e barra de navegação                           -->
    <!-- ############################################################################ -->
    <div id="navbar"></div>
</head>

<body>
    <!-- === MAIN Background === -->
    <div class="slide story" id="slide-1" data-slide="1">
        <div class="container">
            <div id="home-row-1" class="row clearfix">
                <br>
                <div class="col-12">
                    <h1 class="font-semibold">Crono <span class="font-thin">Service</span></h1>
                    <h4 class="font-thin">Remembering <span class="font-semibold">yourself</span> won't be a problem anymore.</h4>
                    <br>
                    <br>
                </div>
                <!-- /col-12 -->
            </div>
            <!-- /row -->
            <div id="home-row-2" class="row clearfix">
                <div class="col-sm-4">
                    <div class="home-hover navigation-slide" data-slide="4">
                        <a href="/calendar"><img src="public/img/s02.png"></a>
                    </div>
                    <a href="/calendar" class="icon-navigation-text">CALENDAR</a></div>
                <div class="col-sm-4">
                    <div class="home-hover navigation-slide" data-slide="3">
                        <a href="/chat"><img src="public/img/s01.png"></a>
                    </div>
                    <a href="/chat" class="icon-navigation-text">PROFILE</a>
                </div>
                <div class="col-sm-4">
                    <div class="home-hover navigation-slide" data-slide="5">
                        <a href="/about"><img src="public/img/s03.png"></a>
                    </div>
                    <a href="/about" class="icon-navigation-text">PROJECT</a></div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /slide1 -->

    <!-- Service Section-->

    <section id="services" class="services text-center">
        <div class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="section-top wow animated fadeInUp" data-wow-delay=".5s">
                        <h2 class="section-title"><span>Crono</span> Core Services</h2>
                        <p class="section-description">
                            The key is not to prioritize what's on your schedule, but to schedule your priorities. With the very best tool.
                        </p>
                        <!-- /.section-description -->
                    </div>
                    <!-- /.section-top -->

                    <div class="section-details">
                        <div class="service-details">
                            <div class="col-md-3 col-sm-6">
                                <div class="item wow animated fadeInLeft" data-wow-delay=".5s">
                                    <div class="item-icon">
                                        <i class="fa fa-google"></i>
                                    </div>
                                    <!-- /.item-icon -->
                                    <div class="item-details">
                                        <h4 class="item-title">Google App Integration</h4>
                                        <!-- /.item-title -->
                                        <p class="item-description">
                                            Our service is directly connected with Google Services. Have the calendar always updated.
                                        </p>
                                        <!-- /.item-description -->
                                    </div>
                                    <!-- /.item-details -->
                                </div>
                                <!-- /.item -->
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <div class="item wow animated fadeInLeft" data-wow-delay=".35s">
                                    <div class="item-icon">
                                        <i class="fa fa-html5"></i>
                                    </div>
                                    <!-- /.item-icon -->
                                    <div class="item-details">
                                        <h4 class="item-title">HTML5 Modern Technology</h4>
                                        <!-- /.item-title -->
                                        <p class="item-description">
                                            We make use of the best web development tools available in the world: AngularJS, NodeJS, HTML5.
                                        </p>
                                        <!-- /.item-description -->
                                    </div>
                                    <!-- /.item-details -->
                                </div>
                                <!-- /.item -->
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <div class="item wow animated fadeInRight" data-wow-delay=".35s">
                                    <div class="item-icon">
                                        <i class="fa fa-github"></i>
                                    </div>
                                    <!-- /.item-icon -->
                                    <div class="item-details">
                                        <h4 class="item-title">GitHub Service</h4>
                                        <!-- /.item-title -->
                                        <p class="item-description">
                                            Have your project files always in the cloud and control version with us, we use GitHub Services.
                                        </p>
                                        <!-- /.item-description -->
                                    </div>
                                    <!-- /.item-details -->
                                </div>
                                <!-- /.item -->
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <div class="item wow animated fadeInRight" data-wow-delay=".5s">
                                    <div class="item-icon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <!-- /.item-icon -->
                                    <div class="item-details">
                                        <h4 class="item-title">Calendar Service</h4>
                                        <!-- /.item-title -->
                                        <p class="item-description">
                                            We have an unique calendar service system in the web, with improved features. Enjoy it.
                                        </p>
                                        <!-- /.item-description -->
                                    </div>
                                    <!-- /.item-details -->
                                </div>
                                <!-- /.item -->
                            </div>

                        </div>
                        <!-- /.service-details -->
                    </div>
                    <!-- /.section-details -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.section-padding -->
    </section>
    <!-- /#services -->

    <!-- Service Section-->

    <br>

    <!-- About Us Section -->

    <section id="about" class="about" data-stellar-background-ratio="0.1" data-stellar-vertical-offset="2000">
        <div class="bg-white-overlay">
            <div class="about-top">
                <div class="section-padding">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="know-about-us wow animated fadeInLeft" data-wow-delay=".5s">
                                    <h2 class="section-title"><span>We</span> are <span>Crono</span> Unlimited Creative Web Agency</h2>
                                    <!-- /.section-title -->
                                    <p class="description">
                                        There is so considerable a body of knowledge bearing upon the similarities and dissimilarities of these two entities that it will be well to compare them. After such comparison one will be better able to judge of the propriety of assuming them to be subject
                                        to identical laws
                                    </p>
                                    <!-- /.description -->
                                    <div class="btn-container">
                                        <a href="#" class="btn read-more">Learn More</a>
                                    </div>
                                    <!-- /.btn-container -->
                                </div>
                                <!-- /.know-about-us -->
                            </div>

                            <div class="col-md-5">
                                <div class="our-skills wow animated fadeInRight" data-wow-delay=".5s">
                                    <h2 class="section-title"><span>Our</span> areas of expertise</h2>
                                    <!-- /.section-title -->
                                    <div class="skill-bars" ng-repeat="(language, value) in languages">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="{{value}}" aria-valuemin="0" aria-valuemax="100" style="width: {{2*value}}%;">
                                                <span class="skill-name">{{language}}</span>{{value | number:1}} %
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.skill-bars -->
                                </div>
                                <!-- /.our-skills -->
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.container -->
                </div>
                <!-- /.section-padding -->
            </div>
            <!-- /.about-top -->

            <div class="about-middle">
                <div class="about-breifing">
                    <div class="col-md-3 col-sm-6">
                        <div class="item media wow animated fadeInLeft" data-wow-delay=".35s">
                            <div class="section-padding">
                                <div class="item-no media-left">
                                    <span class="count text-right">01</span>
                                </div>
                                <!-- /.item-no -->
                                <div class="item-details media-body text-center">
                                    <div class="item-icon">
                                        <i class="fa fa-heart-o"></i>
                                    </div>
                                    <!-- /.item-icon -->
                                    <div class="countdown">
                                        <span class="count-number counter">8,236</span>
                                    </div>
                                    <!-- /.coundown -->
                                    <span class="about-item">Love Bites</span>
                                </div>
                                <!-- /.item-details -->
                            </div>
                            <!-- /.section-padding -->
                        </div>
                        <!-- /.item -->
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="item media wow animated fadeInLeft" data-wow-delay=".55s">
                            <div class="section-padding">
                                <div class="item-no media-left">
                                    <span class="count text-right">02</span>
                                </div>
                                <!-- /.item-no -->
                                <div class="item-details media-body text-center">
                                    <div class="item-icon">
                                        <i class="fa fa-wifi"></i>
                                    </div>
                                    <!-- /.item-icon -->
                                    <div class="countdown">
                                        <span class="count-number counter">1,203</span>
                                    </div>
                                    <!-- /.coundown -->
                                    <span class="about-item">Wifi Zones</span>
                                </div>
                                <!-- /.item-details -->
                            </div>
                            <!-- /.section-padding -->
                        </div>
                        <!-- /.item -->
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="item media wow animated fadeInLeft" data-wow-delay=".75s">
                            <div class="section-padding">
                                <div class="item-no media-left">
                                    <span class="count text-right">03</span>
                                </div>
                                <!-- /.item-no -->
                                <div class="item-details media-body text-center">
                                    <div class="item-icon">
                                        <i class="fa fa-map-marker"></i>
                                    </div>
                                    <!-- /.item-icon -->
                                    <div class="countdown">
                                        <span class="count-number counter">3,679</span>
                                    </div>
                                    <!-- /.coundown -->
                                    <span class="about-item">Customer Centers</span>
                                </div>
                                <!-- /.item-details -->
                            </div>
                            <!-- /.section-padding -->
                        </div>
                        <!-- /.item -->
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="item media wow animated fadeInLeft" data-wow-delay=".95s">
                            <div class="section-padding">
                                <div class="item-no media-left">
                                    <span class="count text-right">04</span>
                                </div>
                                <!-- /.item-no -->
                                <div class="item-details media-body text-center">
                                    <div class="item-icon">
                                        <i class="fa fa-cogs"></i>
                                    </div>
                                    <!-- /.item-icon -->
                                    <div class="countdown">
                                        <span class="count-number counter">2,310</span>
                                    </div>
                                    <!-- /.coundown -->
                                    <span class="about-item">Mechanical Cogs</span>
                                </div>
                                <!-- /.item-details -->
                            </div>
                            <!-- /.section-padding -->
                        </div>
                        <!-- /.item -->
                    </div>
                </div>
                <!-- /.about-briefing -->
            </div>
        </div>
        <!-- /.about-middle -->
    </section>
    <!-- /#about -->

    <!-- About Us Section -->

    <div class="about-bottom">
        <div class="section-padding">
            <div class="col-sm-8">
                <div class="tab-image wow animated fadeInLeft" data-wow-delay=".5s">
                    <img src="public/img/tab.jpg" alt="Tab Image">
                </div>
                <!-- /.tab-image -->
            </div>
            <div class="col-sm-4">
                <div class="about-work wow animated fadeInRight" data-wow-delay=".5s">
                    <h2 class="section-title"><span>Why</span> Use Our Service</h2>
                    <!-- /.section-title -->
                    <p class="description">
                        Crono has an unique calendar event system, capable of integrating <b>Google Calendar</b>,
                        <b>Facebook Events</b> and its own system to provide you the best planning tool ever created.
                    </p>
                    <p class="description">
                        We also have a chat system so that members can discuss planning meetings and events ideas. You have freely store your files, audios and pictures with us, easilly planning your life.
                        <br><br> We have also compatibility with mobile devices and tablets, with a friendly user responsive design. I'm glad to meet you, my dear user!
                    </p>
                    <!-- /.description -->
                </div>
                <!-- /.about-work -->
            </div>
        </div>
        <!-- /.section-padding -->
    </div>
    <!-- /.about-bottom -->

    <div class="clearfix"></div>
    <!-- /.clearfix -->



    <!-- Subscribe Section -->

    <section id="subscribe-section" class="subscribe-section text-center" data-stellar-background-ratio="0.1" data-stellar-vertical-offset="0">
        <div class="bg-overlay">
            <div class="section-padding">
                <div class="container">
                    <div class="wow animated fadeInUp" data-wow-delay=".5s">
                        <h2 class="section-title">A brand new Crono Version Is Cooming Soon!</h2>
                        <!-- /.section-title -->
                        <p class="section-description">
                            To get new Crono version subscribe now. Crono service is absolutely free for your business or personal use.
                        </p>
                        <!-- /.section-description -->

                        <form class="subscribe" method="post">
                            <p class="alert-success"></p>
                            <p class="alert-warning"></p>

                            <div class="subscribe-hide">
                                <input class="subscribe-email" type="email" id="subscribe-email" name="subscribe-email" required>
                                <button type="submit" id="subscribe-submit" class="btn">Subscribe Now</button>
                                <span id="subscribe-loading" class="btn"> <i class="fa fa-refresh fa-spin"></i> </span>
                                <div class="subscribe-error"></div>
                            </div>
                            <!-- /.subscribe-hide -->
                            <div class="subscribe-message"></div>
                        </form>
                        <!-- /.subscribe -->
                    </div>
                </div>
                <!-- /.container -->
            </div>
            <!-- /.section-padding -->
        </div>
        <!-- /.bg-overlay -->
    </section>
    <!-- /#subscribe-section -->


    <!-- Contact Section -->

    <section id="contact" class="contact">
        <div class="contact-inner">
            <div id="google-map" class="google-map">
                <div id="googleMaps" class="google-map-container"></div>
                <a id="coffee" href="#"><i class="fa fa-coffee fa-4x"></i></a>
            </div>
            <!-- /#google-map -->

            <div class="form-area text-center wow animated fadeInRight" data-wow-delay=".75s">
                <h2 class="section-title"><span>Contact</span> With Us</h2>
                <!-- /.section-title -->
                <form action="/mail" method="post" id="contactform" class="contactform">
                    <input id="name" class="form-control" name="name" type="text" placeholder="Name" value="" required>
                    <input id="email" class="form-control pull-right" name="email" type="email" placeholder="Email" value="" required>
                    <textarea id="message" class="form-control" name="message" placeholder="Your Message" rows="5" required></textarea>
                    <button name="submit" class="btn btn-success" type="submit" id="submit">Send Message</button>
                    <a class="btn btn-danger" href="https://github.com/ftuyama/Crono">Visit Us</a>
                </form>
                <!-- /#contactform -->
            </div>
            <!-- /.form-area -->
        </div>
        <!-- /.contact-inner -->
    </section>

    <!-- Contact Section -->

    <!-- Footer Section -->

    <footer id="colophon" class="footer site-footer" role="contentinfo">

        <div class="footer-social text-center">
            <div class="social-contact">
                <div class="col-xs-4">
                    <div class="social-item wow animated fadeInRight" data-wow-delay=".75s">
                        <div class="section-padding">
                            <div class="social-icon">
                                <i class="fa fa-facebook"></i>
                            </div>
                            <!-- /.social-icon -->
                            <div class="countdown">
                                <span class="count-number counter">1,203</span>
                            </div>
                            <!-- /.coundown -->
                            <span class="about-item">likes</span>
                        </div>
                        <!-- /.section-padding -->
                    </div>
                    <!-- /.social-item -->
                </div>

                <div class="col-xs-4">
                    <div class="social-item wow animated fadeInRight" data-wow-delay=".55s">
                        <div class="section-padding">
                            <div class="social-icon">
                                <i class="fa fa-twitter"></i>
                            </div>
                            <!-- /.social-icon -->
                            <div class="countdown">
                                <span class="count-number counter">2,305</span>
                            </div>
                            <!-- /.coundown -->
                            <span class="about-item">followers</span>
                        </div>
                        <!-- /.section-padding -->
                    </div>
                    <!-- /.social-item -->
                </div>

                <div class="col-xs-4">
                    <div class="social-item wow animated fadeInRight" data-wow-delay=".35s">
                        <div class="section-padding">
                            <div class="social-icon">
                                <i class="fa fa-google"></i>
                            </div>
                            <!-- /.social-icon -->
                            <div class="countdown">
                                <span class="count-number counter">1,101</span>
                            </div>
                            <!-- /.coundown -->
                            <span class="about-item">fans</span>
                        </div>
                        <!-- /.section-padding -->
                    </div>
                    <!-- /.social-item -->
                </div>
            </div>
            <!-- /.social-contact -->
        </div>
        <!-- /.footer-social -->


        <div class="footer-top">
            <div class="section-padding">
                <div class="container">
                    <div class="row">

                        <div class="col-sm-2">
                            <div class="widget widget_menu">
                                <h3 class="widget-title">Navigate</h3>
                                <!-- /.widget-title -->
                                <div class="widget-details">
                                    <nav>
                                        <ul>
                                            <span ng-repeat="(name, link) in links">
                                                <li><a href="{{link}}">{{name}}</a></li>
                                            </span>
                                        </ul>
                                    </nav>
                                </div>
                                <!-- /.widget-details -->
                            </div>
                            <!-- /.widget -->
                        </div>

                        <div class="col-sm-4">
                            <div class="widget widget_latest-blog-post">
                                <h3 class="widget-title">Recent Updates</h3>
                                <!-- /.widget-title -->
                                <div class="widget-details">
                                    <table class="title-list">
                                        <tr ng-repeat="commit in commits">
                                            <th style="color:#98a0a8;">{{commit.commit.message.substr(0, 20)}} </th>
                                            <th style="color:#3b5998;">@{{commit.commit.author.name}} </th>
                                            <th style="color:#e74c3c;">{{commit.commit.author.date | date: 'dd/MM/yy'}}</th>
                                        </tr>
                                    </table>
                                    <!-- /.title-list -->
                                </div>
                                <!-- /.widget-details -->
                            </div>
                            <!-- /.widget -->
                        </div>

                        <div class="col-sm-3">
                            <div class="widget widget_photo_stream">
                                <h3 class="widget-title">Developers</h3>
                                <!-- /.widget-title -->
                                <div class="widget-details">
                                    <div class="photo-list">
                                        <ul>
                                            <li>
                                                <a href="https://github.com/joaovitormarques">
                                                    <img src="https://avatars1.githubusercontent.com/u/11546507?v=3&s=400" alt="João Vitor"></a>
                                            </li>
                                            <li>
                                                <a href="https://github.com/ftuyama">
                                                    <img src="https://avatars2.githubusercontent.com/u/11530478?v=3&s=466" alt="Felipe Tuyama"></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- /.photo-list -->
                                </div>
                                <!-- /.widget-details -->
                            </div>
                            <!-- /.widget -->
                        </div>

                        <div class="col-sm-3">
                            <div class="widget widget_subscribe">
                                <h3 class="widget-title">Tag Clouds</h3>
                                <!-- /.widget-title -->
                                <div class="widget-details">
                                    <ul class="taglist">
                                        <span ng-repeat="tag in tags">
                                            <li><a href="https://www.google.com.br/#q={{tag}}">{{tag}}</a></li>
                                        </span>
                                    </ul>
                                </div>
                                <!-- /.widget-details -->
                            </div>
                            <!-- /.widget -->
                            <div class="widget widget_subscribe">
                                <h3 class="widget-title">Subscribe Us</h3>
                                <div class="widget-details">
                                    <form class="subscribe" method="post">
                                        <p class="alert-success"></p>
                                        <p class="alert-warning"></p>

                                        <div class="subscribe-hide">
                                            <input class="subscribe-email" type="email" id="subscribe-email" name="subscribe-email" required>
                                            <button type="submit" id="subscribe-submit" class="btn"><i class="fa fa-envelope"></i></button>
                                            <span id="subscribe-loading" class="btn"> <i class="fa fa-refresh fa-spin"></i> </span>
                                            <div class="subscribe-error"></div>
                                        </div>
                                        <!-- /.subscribe-hide -->
                                        <div class="subscribe-message"></div>
                                    </form>
                                    <!-- /.subscribe -->
                                </div>
                                <!-- /.widget-details -->
                            </div>
                            <!-- /.widget -->
                        </div>

                    </div>
                    <!-- /.row -->
                    <div id="ip"></div>
                </div>
                <!-- /.container -->
            </div>
            <!-- /.section-padding -->
        </div>
        <!-- /.footer-top -->

        <div class="footer-bottom">
            <div class="container">
                <div class="footer-menu pull-left">
                    <div class="widget widget_menu">
                        <nav class="widget-menu">
                            <ul>
                                <span ng-repeat="(name, link) in links">
                                    <li><a href="{{link}}">{{name}}</a></li>
                                </span>
                            </ul>
                        </nav>
                    </div>
                    <!-- /.widget -->
                </div>
                <!-- /.footer-menu -->

                <div class="copy-right pull-right"></div>

            </div>
            <!-- /.container -->
        </div>
        <!-- /.footer-bottom -->
    </footer>
    <!-- /#colophon -->

    <!-- Footer Section -->

    <div id="scroll-to-top" class="scroll-to-top">
        <span>
      <i class="fa fa-chevron-up"></i>    
    </span>
    </div>
    <!-- /#scroll-to-top -->

    <!-- Include jQuery Js -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include jQuery Js -->
    <script>
        window.jQuery || document.write('<script src="public/js/jquery-1.11.2.min.js"><\/script>')
    </script>
    <!-- Include WOW Min Js -->
    <script src="public/js/wow.min.js"></script>
    <!-- Google Maps Script -->
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyC7AWoLG7WGG93tUFN174K4mxdvsdHW-X0"></script>
    <!-- Gmap3.js For Static Maps -->
    <script src="public/js/gmap3.js"></script>
    <!-- Include Waypoint Js -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <!-- Include Ajax MailChimp Js -->
    <script src="public/js/jquery.ajaxchimp.min.js"></script>
    <!-- Include Custom Js </-->
    <script src="public/js/custom.min.js"></script>
    <script src="/indexVC.js"></script>

</body>

</html>