<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>my Homework</title>
    <link href="/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
    <link href='/estilo.css' rel='stylesheet' type='text/css'>
    <script src="/client-principal.js"></script>
    <script src="/snowstorm-min.js"></script>
</head>

<body onload="zero()">
    <h1 id="title">my Homework - {{username}}</h1>
    <div class="wrapper">
        <button type="button" class="btn btn-primary" onclick="funcao()">Clique aqui</button>
        <p id="counter" hidden>Counter</p><br><br>
        <form action="/users">
            <input type="submit" class="btn btn-success" value="Cadastrar usuário" />
        </form> <br>
        <form action="/calendar/auth">
            <input type="submit" class="btn btn-default" value="Login Google" />
        </form> <br>
        <form action="/project/">
            <input type="submit" class="btn btn-default" value="Show Git" />
        </form> <br>
        <form action="/calendar">
            <input type="submit" class="btn btn-danger" value="Calendário" />
        </form> <br>
        <p id="cooki"></p>
    </div>
    {{#show}}
    <h3>Tasks</h3>
    <ul>{{#events.items}}
        <li>{{summary}}</li>{{/events.items}}
    </ul>
    {{/show}} {{^show}} {{/show}}
</body>

</html>