<!DOCTYPE html>
<html>

<head>
    <title>Basement</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="import" href="/components/depend.html">
    <link href='/light-default.css' rel='stylesheet' type='text/css'>
    <link href='/light-calendar.css' rel='stylesheet' type='text/css'>
    <!-- Controller -->
    <script src="/contrl/principalVC.js"></script>
    <script src="/public/js/snowstorm-min.js"></script>
    <div id="navbar"></div>
</head>

<body onload="zero()">
    <br><br><br>
    <h1 id="title">my Homework - {{username}}</h1>
    <div class="wrapper">
        <button type="button" class="btn btn-primary" onclick="funcao()">Clique aqui</button>
        <p id="counter" hidden>Counter</p><br><br>
        <form action="/users">
            <button type="submit" class="btn btn-success">Cadastrar usuário</button>
        </form> <br>
        <form action="/calendarAuth">
            <button type="submit" class="btn btn-default">Login Google</button>
        </form> <br>
        <form action="/projectAuth">
            <button type="submit" class="btn btn-default">Show Git</button>
        </form> <br>
        <form action="/calendar">
            <button type="submit" class="btn btn-danger">Calendário</button>
        </form> <br>
        <p id="cooki"></p>
    </div>
    {{#show}}
    <h3>Tasks</h3>
    <ul>{{#events.items}}
        <li>{{summary}}</li>{{/events.items}}
    </ul>
    {{/show}} {{^show}} {{/show}}
</body>

</html>