<!DOCTYPE html>
<html>

<head>
    <title>Firebase</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!------------------------------------------------------------------------------------->
    <!--------------------------- Imports e barra de navegação ---------------------------->
    <!------------------------------------------------------------------------------------->
    <link rel="icon" href="/public/img/favicon.ico">

    <link rel="apple-touch-icon" href="/public/img/apple-touch-icon.png">
    <!-- Include Extra Css -->
    <link rel="stylesheet" href="/public/css/style2.css">
    <!-- Include Beautiful Font -->
    <link rel='stylesheet' href='/public/css/titillium.css'>
    <!-- Include Bootstrap Css -->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <!-- Include Bootstrap Min Css -->
    <link rel="stylesheet" href="/public/css/bootstrap-theme.min.css">
    <!-- Include Animate Min Css -->
    <link rel="stylesheet" href="/public/css/animate.min.css">
    <!-- Include Fontawesome Min Css -->
    <link rel="stylesheet" href="/public/css/font-awesome.min.css">
    <!-- Include Magnific PopUp Css -->
    <link rel="stylesheet" href="/public/css/magnific-popup.css">
    <!-- bxSlider CSS file -->
    <link rel="stylesheet" href="/public/css/jquery.bxslider.css" />
    <!-- Include Style Css -->
    <link rel="stylesheet" href="/public/css/style.css">
    <!-- Include Responsive Css -->
    <link rel="stylesheet" href="/public/css/responsive.min.css">
    <!-- Include Shiny Icon Css -->
    <link rel="stylesheet" href="/public/css/shiny-icon.css">
    <!-- Include Switch Css -->
    <link rel="stylesheet" href="/public/css/switch.css">
    <!-- Include Modernizer Js -->
    <script src="/public/js/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <!-- Include Jquery Js -->
    <script src="/public/js/jquery-2.1.4.min.js"></script>
    <script src="/public/js/jquery-ui-1.10.2.custom.min.js"></script>
    <!-- Include Angular Js -->
    <script src="/public/js/angular.min.js"></script>
    <!-- Include Angular Cookies Js -->
    <script src="/public/js/angular-cookies.js"></script>
    <!-- Include Bootstrap Js -->
    <script src="/public/js/bootstrap.min.js"></script>
    <!-- Include Initialization script Js -->
    <script src="/components/components.js"></script>
    <script src="/script/global.js"></script>
    <script src="/script/theme.js"></script>
    <!------------------------------------------------------------------------------------->
    <!--------------------------- Imports e barra de navegação ---------------------------->
    <!------------------------------------------------------------------------------------->

    <!-- Custom style theme -->
    <link href='/light-default.css' rel='stylesheet' type='text/css'>
    <link href='/light-calendar.css' rel='stylesheet' type='text/css'>
    <!-- Controller -->
    <script src="/contrl/usersVC.js"></script>
    <script src="/public/js/snowstorm-min.js"></script>
    <div id="navbar"></div>
</head>
<style>
    input {
        width: 300px;
    }
</style>

<body onload=loadHTML({{response}})>
    <br><br><br>
    <h1 id="title">API usuários! {{name}}</h1>
    <div class="wrapper">
        <h2>Formulário</h2>
        <form action="/users/addUser" method="GET">
            <p><label>name:</label><input type="text" name="name"></p>
            <p><label>pass:</label><input type="text" name="pass"></p>
            <p><label>vocation:</label><input type="text" name="vocation"></p>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
        <h2>Query</h2>
        <form action="/users/queryUser" method="GET">
            <p><label>name:</label><input type="text" name="name"></p>
            <button type="submit" class="btn btn-info">Search</button>
        </form>
        <h2>List</h2>
        <form action="/users/listUser" method="GET">
            <button type="submit" class="btn btn-info">Listar</button>
        </form>
        {{#op}}
        <br>
        <div class="col-xs-8 col-sm-5"></div>
        <div class="col-xs-4 col-sm-3">
            <div class="thumbnail" align="center">
                <h2>{{op}} de Usuários</h2>
                <div id="resposta"></div>
            </div>
        </div>
        {{/op}}
    </div>
</body>

</html>