body {
    background-color: black;
}

h1, h2 {
    text-align: center;
    color: white;
}

p {
    text-align: center;
    color: white;
}

input {
    color: black;
}

.wrapper {
    text-align: center;
}