body {
    background-color: black;
}

h1, h2 {
    text-align: center;
    color: white;
}

p {
    text-align: center;
    color: white;
}

label{
    display: inline-block;
    width: 100px;
    text-align: right;
}

input {
    color: black;
    display: inline-block;
}

.wrapper {
    text-align: center;
}