* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #336;
    overflow: hidden;
}

.footer {
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media only screen and (max-width: 767px) {
    #text {
        display: block;
        width: 100%;
    }
    #send {
        display: block;
        width: 100%;
    }
    .title-side {
        visibility: hidden;
    }
}

form input {
    padding: 8px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    width: 85%;
    margin-left: .5%;
    margin-right: .5%;
}

form button {
    width: 10%;
    border: none;
    padding: 10px;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages p {
    text-align: left;
    padding: 5px 10px;
}

#messages p:nth-child(odd) {
    background: #66d;
}

.title {
    display: flex;
}

.title-text {
    left: 50%;
}