* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.userIcon {
    border-radius: 15px;
    width: 30px;
    height: 30px
}

body {
    background-color: #336;
    overflow: hidden;
}

.footer {
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

form input {
    padding: 8px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    width: 75%;
    margin-left: .5%;
    margin-right: .5%;
}

form button {
    width: 10%;
    border: none;
    padding: 10px;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    height: 90%;
}

#messages p {
    text-align: left;
    padding: 5px 10px;
}

#messages p:nth-child(odd) {
    background: #448;
}

.face {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    position: relative;
    color: greenyellow;
    z-index: 2;
}

.title {
    display: flex;
}

.title-text {
    left: 50%;
}

.row-message {
    height: 80%;
}

@media only screen and (max-width: 1200px) {
    #melar {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    #text {
        display: block;
        width: 90%;
    }
    #send {
        display: block;
        width: 100%;
    }
    #melar,
    .mobile,
    .title-side,
    .title {
        display: none;
    }
    .face {}
    #users p {
        display: inline;
    }
}