body {
    background-color: black;
}

h1,
h2 {
    text-align: center;
    color: white;
}

p {
    text-align: center;
    color: white;
}

label {
    display: inline-block;
    width: 100px;
    text-align: right;
}

input {
    color: black;
    display: inline-block;
    width: 20%;
}

table {
    color: white;
}

.wrapper {
    text-align: center;
}

.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #000;
    border: 1px solid #111;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

h3,
ul,
li {
    color: white;
}