table table-bordered {
    table-layout: fixed;
    align: center;
    margin: 0;
}

.btn {
    color: #114;
}

@media only screen and (max-width: 767px) {
    .calendar-content {
        width: 80%;
    }
    .modal-dialog {
        height: 80%;
        width: 100%;
    }
    .modal-body {
        width: 100%;
        height: 70%;
    }
    .modal-content {
        width: 80%;
        height: 90%;
        top: 10%;
        left: 10%;
    }
    .form-item-content,
    .form-item {
        width: 100%;
    }
}

tr {
    color: #225;
    background-color: #aad;
}

td {
    text-align: center;
    overflow: hidden;
}

.events {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.day {
    text-align: left;
    background: #225;
}

.day:hover {
    background: #411;
}

.day-gone {
    opacity: 0.8;
    color: #114;
    background: #225;
}

.today {
    color: #114;
    background: #844;
}

input {
    width: 50px;
}

.row.no-gutter {
    margin-left: 5px;
    margin-right: 5px;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
    padding-right: 5px;
    padding-left: 5px;
}

a.list-group-item:hover,
button.list-group-item:hover,
a.list-group-item:focus,
button.list-group-item:focus {
    text-decoration: none;
    color: #114;
    background-color: #411;
}

a.list-group-item {
    color: #aaa;
}

.list-group-item-esp,
.list-group-item-tiny,
.list-group-item-micro,
.list-group-item {
    background-color: transparent;
    position: relative;
    display: block;
    padding: 1px 1px;
    border: 0px;
    max-width: 140px;
}

.list-group-item-micro {
    font-size: 10px;
}

.list-group-item-tiny {
    font-size: 12px;
}

.list-group-item-esp {
    display: inline;
}

.spc-btn {
    visibility: hidden;
    display: inline-block;
    margin-left: 5px;
    padding-top: 0px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 40px;
    font-size: 12px;
    width: 10px;
    height: 10px;
}

.spec {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.thumbnail {
    border: 1px solid #aff;
    color: #114;
    overflow: hidden;
    text-overflow: ellipsis;
}

.thumbnail-content {
    border: 1px solid #aaf;
    background-color: #114;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form-control {
    height: 80%;
    width: 80%;
}

.modal-header .close {
    font-size: 40px;
    color: white;
}

.mic-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    border-color: #c88;
}

.mic-img {
    transform: scale(2.0, 2.0);
    -ms-transform: scale(2.0, 2.0);
    -webkit-transform: scale(2.0, 2.0);
}

.form-item {
    height: 50px;
    display: block;
}

.form-item-content {
    top: 25%;
    position: relative;
}

.modal-content {
    background-color: #aad;
    color: #225;
    border: 2px solid #ebedef;
}

.modal-dialog {
    position: absolute;
    left: 50%;
    margin-left: -312px;
    top: 50%;
    margin-top: -250px;
}

.datepicker {
    z-index: 1000000;
}

.ui-autocomplete {
    position: relative;
    z-index: 100000000;
    width: 30px;
}

.monthPicker {
    font-size: 0px;
    padding: 0px;
}