table table-bordered {
    table-layout: fixed;
    align: center;
    margin: 0;
}

.btn {
    color: #114;
}

tr {
    color: #225;
    background-color: #aad;
}

td {
    text-align: center;
    overflow: hidden;
}

.events {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.day {
    text-align: left;
    background: #225;
}

.day:hover {
    background: #411;
}

.day-gone {
    opacity: 0.8;
    color: #114;
    background: #225;
}

.today {
    color: #114;
    background: #844;
}

input {
    width: 50px;
}

.row.no-gutter {
    margin-left: 5px;
    margin-right: 5px;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
    padding-right: 5px;
    padding-left: 5px;
}

a.list-group-item:hover,
button.list-group-item:hover,
a.list-group-item:focus,
button.list-group-item:focus {
    text-decoration: none;
    color: #114;
    background-color: #411;
}

a.list-group-item {
    color: #aaa;
}

.list-group-item-esp,
.list-group-item-tiny,
.list-group-item-micro,
.list-group-item {
    background-color: transparent;
    position: relative;
    display: block;
    padding: 1px 1px;
    border: 0px;
    max-width: 140px;
}

.spc-btn {
    visibility: hidden;
    display: inline-block;
    margin-left: 5px;
    padding-top: 0px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 40px;
    font-size: 12px;
    width: 10px;
    height: 10px;
}

.spec {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.thumbnail {
    border: 1px solid #aff;
    color: #114;
    overflow: hidden;
    text-overflow: ellipsis;
}

.thumbnail-content {
    border: 1px solid #aaf;
    background-color: #114;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form-control {
    height: 80%;
    width: 80%;
}

.modal-header .close {
    font-size: 40px;
    color: white;
}

.mic-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    border-color: #c88;
}

.mic-img {
    transform: scale(2.0, 2.0);
    -ms-transform: scale(2.0, 2.0);
    -webkit-transform: scale(2.0, 2.0);
}

.form-item {
    height: 50px;
    display: block;
}

.form-item-content {
    top: 25%;
    position: relative;
}

.modal-content {
    background-color: #aad;
    color: #225;
    border: 2px solid #ebedef;
}

.modal-dialog {
    position: absolute;
    left: 50%;
    margin-left: -312px;
    top: 50%;
    margin-top: -250px;
}

.datepicker {
    z-index: 1000000;
}

.ui-autocomplete {
    position: relative;
    z-index: 100000000;
    width: 30px;
}

.monthPicker {
    font-size: 0px;
    padding: 0px;
}

.farefresh {
    width: 50px;
    margin-top: 8px;
    color: #2196F3;
    float: right;
}

.farefresh:hover {
    color: #33A8F6;
}

.farefresh:hover:after {
    cursor: pointer;
    content: 'Calendar';
    border: 1px solid #cccccc;
    background-color: #efefef;
    position: absolute;
    padding: 3px 8px;
    font-size: 12px;
    z-index: 9999;
    margin-left: -80px;
    margin-top: 30px;
    width: 100px;
}


/* Eye icon */

.eyefarefresh {
    color: #c12e2a;
}

.eyefarefresh:hover {
    color: #f55f5a;
}

.eyefarefresh:hover:after {
    cursor: pointer;
    content: 'Hide info';
    border: 1px solid #cccccc;
    background-color: #efefef;
    position: absolute;
    padding: 3px 8px;
    font-size: 12px;
    z-index: 9999;
    margin-left: -80px;
    margin-top: 30px;
    width: 100px;
}

.eyeslashfarefresh {
    color: #888;
}

.eyeslashfarefresh:hover {
    color: #bbb;
}

.eyeslashfarefresh:hover:after {
    cursor: pointer;
    content: 'Flash info';
    border: 1px solid #cccccc;
    background-color: #efefef;
    position: absolute;
    padding: 3px 8px;
    font-size: 12px;
    z-index: 9999;
    margin-left: -80px;
    margin-top: 30px;
    width: 100px;
}


/* Trello icon */

.trellofarefresh {
    color: #444488;
    content: 'Kanban';
}

.trellofarefresh:hover {
    color: #66a;
}

.trellofarefresh:hover:after {
    content: 'Kanban';
}


/* Round button */

.round-button {
    float: right;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color: #f5f5f5;
    text-align: center;
    text-decoration: none;
    background: #c12e2a;
    box-shadow: 0 0 3px gray;
    font-size: 20px;
    font-weight: bold;
    transition: 0.5s;
}

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
    color: white !important;
}

.round-button:hover {
    background: #f55f5a;
}

#start_button {
    transition: 0.5s;
}

#start_img1,
#start_img2 {
    transition: 0.5s;
}

#start_button:hover {
    background-color: #c12e2a
}

#start_img1:hover,
#start_img2:hover {
    transform: scale(1.5, 1.5);
}

.progress {
    background: #ded;
    border-radius: 8px;
    height: 20px;
    margin-bottom: 10px;
}

.progress-bar {
    line-height: 20px;
    background: #5a5;
}


/* Firebase SideNav */

#motherTable {
    transition: 0.5s;
}

.sidenav {
    height: 90%;
    width: 0%;
    position: fixed;
    z-index: 1000000;
    top: 10%;
    left: -5px;
    background-color: #a66;
    overflow: auto;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
    border: 2px solid #faa;
}

.sidenav-content {
    height: 90%;
}

.sidenav-header .close:hover,
.sidenav-header .close:focus {
    font-size: 40px;
    color: #ddd;
    opacity: 1;
}

.sidenav-header .close {
    font-size: 40px;
    color: white;
    opacity: .8;
}

.sidenav-body {
    overflow-y: auto;
    overflow-x: hidden;
    height: 60%;
}

.sidenav-footer {
    text-align: center;
}

label {
    color: #ddd;
}