        ol {
            margin: 0;
            padding: 0
        }
        
        table td,
        table th {
            padding: 0
        }
        
        .c2 {
            padding-top: 17pt;
            padding-bottom: 17pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2
        }
        
        .c4 {
            padding-top: 15pt;
            padding-bottom: 27pt;
            line-height: 1.25;
            orphans: 2;
            widows: 2
        }
        
        .c1 {
            padding-bottom: 11pt;
            orphans: 2;
            widows: 2;
            text-align: justify;
            text-justify: inter-word;
            color: black;
            display: inline-block;
            width: 100%;
        }
        
        .c3 {
            background-color: #ffffff;
            font-size: 18pt;
            font-weight: 700
        }
        
        .c8 {
            orphans: 2;
            widows: 2;
            height: 11pt
        }
        
        .c7 {
            background-color: white;
            max-width: 100%;
            padding: 72pt 72pt 72pt 72pt;
        }
        
        .c5 {
            color: #1155cc;
            text-decoration: underline
        }
        
        .c6 {
            background-color: #ffffff;
            font-size: 18pt
        }
        
        .c9 {
            color: inherit;
            text-decoration: inherit
        }
        
        .c0 {
            background-color: #ffffff;
            font-size: 13pt
        }
        
        .c10 {
            font-weight: 700
        }
        
        .c11 {
            color: #0000EE;
        }
        
        .title {
            padding-top: 0pt;
            color: #000000;
            font-size: 26pt;
            padding-bottom: 3pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        .subtitle {
            padding-top: 0pt;
            color: #666666;
            font-size: 15pt;
            padding-bottom: 16pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        li {
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }
        
        p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
            font-family: "Arial";
        }
        
        h1 {
            padding-top: 20pt;
            color: #000000;
            font-size: 20pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        h2 {
            padding-top: 18pt;
            color: #000000;
            font-size: 16pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        h3 {
            padding-top: 16pt;
            color: #434343;
            font-size: 14pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        h4 {
            padding-top: 14pt;
            color: #666666;
            font-size: 12pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        h5 {
            padding-top: 12pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        h6 {
            padding-top: 12pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }