<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="/public/img/apple-touch-icon.png">
    <!-- Include Extra Css -->
    <link rel="stylesheet" href="/public/css/style2.css">
    <!-- Include Beautiful Font -->
    <link rel='stylesheet' href='/public/css/titillium.css'>
    <!-- Include Bootstrap Css -->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <!-- Include Bootstrap Min Css -->
    <link rel="stylesheet" href="/public/css/bootstrap-theme.min.css">
    <!-- Include Animate Min Css -->
    <link rel="stylesheet" href="/public/css/animate.min.css">
    <!-- Include Fontawesome Min Css -->
    <link rel="stylesheet" href="/public/css/font-awesome.min.css">
    <!-- Include Magnific PopUp Css -->
    <link rel="stylesheet" href="/public/css/magnific-popup.css">
    <!-- bxSlider CSS file -->
    <link rel="stylesheet" href="/public/css/jquery.bxslider.css" />
    <!-- Include Style Css -->
    <link rel="stylesheet" href="/public/css/style.css">
    <!-- Include Responsive Css -->
    <link rel="stylesheet" href="/public/css/responsive.min.css">
    <!-- Include Shiny Icon Css -->
    <link rel="stylesheet" href="/public/css/shiny-icon.css">
    <!-- Include Switch Css -->
    <link rel="stylesheet" href="/public/css/switch.css">
    <!-- Include Modernizer Js -->
    <script src="/public/js/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <!-- Include Jquery Js -->
    <script src="/public/js/jquery-2.1.4.min.js"></script>
    <script src="/public/js/jquery-ui-1.10.2.custom.min.js"></script>
    <!-- Include Angular Js -->
    <script src="/public/js/angular.min.js"></script>
    <!-- Include Angular Cookies Js -->
    <script src="/public/js/angular-cookies.js"></script>
    <!-- Include Bootstrap Js -->
    <script src="/public/js/bootstrap.min.js"></script>
    <!-- Include Initialization script Js -->
    <script src="/components/dependence.js"></script>
    <script src="/script/global.js"></script>
</head>

</html>