<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png">
    <!-- Include Extra Css -->
    <link rel="stylesheet" href="/assets/css/style2.css">
    <!-- Include Beautiful Font -->
    <link rel='stylesheet' href='/assets/css/titillium.css'>
    <!-- Include Bootstrap Css -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- Include Bootstrap Min Css -->
    <link rel="stylesheet" href="/assets/css/bootstrap-theme.min.css">
    <!-- Include Animate Min Css -->
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <!-- Include Fontawesome Min Css -->
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <!-- Include Magnific PopUp Css -->
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <!-- bxSlider CSS file -->
    <link rel="stylesheet" href="/assets/css/jquery.bxslider.css" />
    <!-- Include Style Css -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- Include Responsive Css -->
    <link rel="stylesheet" href="/assets/css/responsive.min.css">
    <!-- Include Shiny Icon Css -->
    <link rel="stylesheet" href="/assets/css/shiny-icon.css">
    <!-- Include Switch Css -->
    <link rel="stylesheet" href="/assets/css/switch.css">
    <!-- Include Modernizer Js -->
    <script src="/assets/js/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <!-- Include Jquery Js -->
    <script src="/assets/js/jquery-2.1.4.min.js"></script>
    <script src="/assets/js/jquery-ui-1.10.2.custom.min.js"></script>
    <link rel="stylesheet" href="/assets/css/jquery-ui-1.10.2.custom.min.css">
    <!-- Include Angular Js -->
    <script src="/assets/js/angular.min.js"></script>
    <!-- Include Angular Cookies Js -->
    <script src="/assets/js/angular-cookies.js"></script>
    <!-- Include Bootstrap Js -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- Include Initialization script Js -->
    <script src="/components/script.js"></script>
    <!-- Include Datepicker Css Js -->
    <link href='/assets/css/datepicker.min.css' rel='stylesheet' type='text/css'>
    <script src="/assets/js/datepicker.min.js"></script>
    <script src="/assets/js/datepicker.pt.js"></script>
    <!-- Include Hourpicker Js -->
    <script src="/assets/js/timeAutocomplete.js"></script>
    <script src="/assets/js/formatters/24hr.js"></script>
    <script src="/assets/js/formatters/ampm.js"></script>
    <script src="/assets/js/formatters/french.js"></script>
    <!-- Include Speech Js -->
    <script src="/script/speech.js"></script>
</head>

</html>