<!-- Menu Buttons for Calendar and Kanban -->
<button class="btn btn-info" style="float:left;" ng-click="fullscreen(); 
            $event.stopPropagation()" translate="label.button.fullscreen"></button>
<i class="fa fa-calendar fa-2x farefresh" style="float:left;" ng-click="display_calendar();  $event.stopPropagation()"></i>
<i class="fa fa-trello fa-2x farefresh trellofarefresh" style="float:left;" ng-click="display_kanban();  $event.stopPropagation()"></i> {{monthYearLabel}}
<button class="btn btn-danger" style="float:right;" translate="label.button.month"></button>
<i class="fa fa-eye fa-2x farefresh eyefarefresh" ng-show="fbActive" ng-click="firebaseActive();  $event.stopPropagation()"></i>
<i class="fa fa-eye-slash fa-2x farefresh eyeslashfarefresh" ng-hide="fbActive" ng-click="firebaseActive();  $event.stopPropagation()"></i>
<!-- Kanban Filter Fields -->
<span ng-if="kanbanFilter"> 
    <span style="float:right;"> 
        <label translate="label.option.filter"></label> 
        <select id="filterSelect" ng-model="filter" ng-model-options="{debounce: 500}"  
                ng-change="change_filter()" ng-click="$event.stopPropagation()"> 
            <option value="month" translate="label.option.month"></option> 
            <option value="week" translate="label.option.week"></option> 
            <option value="" translate="label.option.all"></option> 
        </select> 
        <span ng-show="filter=='week'" style="display:block"> 
            <label translate="label.input.week"></label> 
            <input id="filterWeekSelect" type="number" ng-model="filterWeek" ng-model-options="{debounce: 1000}" 
                ng-change="change_filter()" ng-click="$event.stopPropagation()"/> 
        </span>
</span>
<span style="float:right; cursor:pointer;" ng-click="hidePast(); $event.stopPropagation()" translate="label.button.hide.past"></span>
</span>