<!-- Header Section -->

<script src="/contrl/navbarVC.js"></script>
<link href='/style/navbar.css' rel='stylesheet' type='text/css'>
<header id="masthead" class="masthead navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu">
          <i class="fa fa-bars"></i>
        </button>
            <a class="navbar-brand" href="./">
                <object id="logoImg" data="/public/img/logo.png"></object>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <nav id="main-menu" class="collapse navbar-collapse pull-right">
            <ul id="navlinks" class="nav navbar-nav">
                <a id="profile" class="shiny-icon" href="https://calendar.google.com/calendar/"></a>
                <b id="username"></b>
            </ul>
        </nav>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</header>
<!-- /#masthead -->

<!-- Header Section -->