<!-- Header Section -->

<header id="masthead" class="masthead navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu">
          <i class="fa fa-bars"></i>
        </button>
            <a class="navbar-brand" href="./">
                <object id="logoImg" data="/public/img/logo.svg" type="image/svg+xml"></object>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <nav id="main-menu" class="collapse navbar-collapse pull-right">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/calendar">Calendar</a></li>
                <li><a href="/users">Services</a></li>
                <li><a href="https://github.com/ftuyama/Crono">Contact Us</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/main">Extra</a></li>
                <li><a id="paint-brush" onclick="changeTheme()"><i class="fa fa-paint-brush"></i> Theme</a></li>
                <a id="profile" class="shiny-icon" href="https://calendar.google.com/calendar/"></a>
                <script>
                    $(document).ready(function() {
                        var imageUrl = decodeURIComponent(readCookie("imageUrl"));
                        if (imageUrl != undefined && imageUrl != "undefined" && imageUrl != "null")
                            $('#profile').append('<img id="userImg" src="' + imageUrl + '"/>');
                    })
                </script>
                <style>
                    #logoImg {
                        height: 100px;
                        width: 100px;
                    }
                    
                    #userImg {
                        height: 50px;
                        width: 50px;
                    }
                </style>
            </ul>
        </nav>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</header>
<!-- /#masthead -->

<!-- Header Section -->