<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Porfólio CES-26</title>
    <link href="/framework.css" />
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/bootstrap-theme.min.css" />
    <link href="/bootstrap.min.css" />
    <link href="/style.css" />
    <script src='/jquery-2.1.4.min.js'></script>
    <script src="/snowstorm-min.js"></script>
    <script src="/jquery.videoBG.js"></script>
    <script src="/script.js"></script>
</head>

<body>
    <div id="navigation"></div>
    <h2>Criado por Felipe Tuyama</h2>
    <p>Espaço dedicado para publicar as atividades semanais de CES-26</p>
</body>

</html>