<!DOCTYPE html>
<html>

<head>
    <link rel="import" href="/components/depend.html">
    <title>Portal CES-26</title>
    <div id="navigation"></div>
</head>

<body>
    <h2>Criado por Felipe Tuyama</h2>
    <p>Espaço dedicado para publicar as atividades semanais de CES-26</p>
    <hr style="opacity: 0.1">
    <div class="container-fluid" align="center">
        <ul>
            <h3>Tarefas</h3>
            <li>
                <p>Ambiente de desenvolvimento</p>
            </li>
            <li>
                <p>Programa Javascript</p>
            </li>
            <li>
                <p>Servidor NodeJs</p>
            </li>
            <li>
                <p>Biblioteca JQuery</p>
            </li>
        </ul>
    </div>
</body>
<div id="footer"></div>

</html>