<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Porfólio CES-26</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="/bootstrap.min.css" />
    <script src='/jquery-2.1.4.min.js'></script>
    <link href='/estilo.css' rel='stylesheet' type='text/css'>
    <script src="/snowstorm-min.js"></script>
</head>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Portal CES-26</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/semana1">Semana 1</a></li>
            <li><a href="/semana2">Semana 2</a></li>
            <li><a href="#">Semana 3</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> About</a></li>
        </ul>
    </div>
</nav>

</html>