<!DOCTYPE html>
<html>

<head>
    <link rel="import" href="/components/depend.html">
    <title>Semana 3</title>
    <div id="navigation"></div>
    <script src="/client.js"></script>
</head>

<body onload="zero()">
    <div id="navigation"></div>
    <h1 id="title">Hello World!</h1>
    <div class="wrapper">
        <button type="button" class="btn btn-primary" onclick="funcao()">Clique aqui</button>
        <p id="counter" hidden>Counter</p>
        <h2>Formulário</h2>
        <form action="/addUser" method="GET">
            <p>name: <input type="text" name="name"></p>
            <p>pass: <input type="text" name="pass"></p>
            <p>vocation: <input type="text" name="vocation"></p>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
        <h2>Query</h2>
        <form action="/findUser" method="GET">
            <p>name: <input type="text" name="name"></p>
            <p>pass: <input type="text" name="pass"></p>
            <p>vocation: <input type="text" name="vocation"></p>
            <button type="submit" class="btn btn-info">Search</button>
        </form>
        <h2>List</h2>
        <form action="/listUser" method="GET">
            <button type="submit" class="btn btn-info">Listar</button>
        </form>
        <p id="cooki"></p>
    </div>
</body>
<div id="footer"></div>

</html>