<!DOCTYPE html>
<html>

<head>
    <link rel="import" href="/components/depend.html">
    <title>Semana 1</title>
    <div id="navigation"></div>
</head>

<body>
    <h1 id="title">Hello World!</h1>
    <hr style="opacity: 0.1">
    <div class="container-fluid" align="center">
        <h3>A tarefa da semana 1 foi configurar o ambiente de desenvolvimento!</h3>
        <br>
        <p>Estou utilizando o editor Visual Studio Code para desenvolvimento.</p>
        <p>Criei um repositório GitHub para o projeto, uma de suas branches é este site.</p>
        <p>Em seguida, hospedei esse site no serviço gratuito Heroku.</p>
    </div>
</body>
<div id="footer"></div>

</html>